* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 18px;
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
  background: linear-gradient(132deg, #ddcaca 0%, #beb1b1 100%);
  background-image: url('../img/css-pattern-by-magicpattern.png');
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input:checked+span {
  text-decoration: line-through;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}