.todo-item {
    display: flex;
    gap: 3px;
}

.todo-item__label {
    position: relative;
    display: inline-flex;
    padding-left: 25px;
    height: 100%;
    cursor: pointer;
}

.todo-item__label::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 16px;
    mask-image: url('../img/tick.svg.png');
    transform: translate(-25px, 0);
    background-color: #636774;
    ;
}

.todo-item__label--checked::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 16px;
    mask-image: url('../img/tick.svg.png');
    background-color: rgb(16, 212, 16);
}

.todo-item__text {
    font-size: 1.1rem;
    height: 1.7rem;
    display: inline-block;
    border: none;
    border-bottom: 1px rgba(99, 103, 116, 0.5019607843) solid;
    background-color: transparent;
}